*{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  color: white;
  overflow: hidden;
  margin: 0;
  background-color: black;
  padding: 0.1rem 0.1rem;
}

.main{
    display: flex;
    height: 100vh;

}

.sidebar{
    width: 350px;
    border-radius: 0.25rem;
    background-color: #121212;   margin: 0.25rem;
}
.main-content{
    padding-top: 0.25rem;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
    background-color: #121212;
    margin: 0.25rem;
}

 .music-player{
    bottom: 0;
    position: fixed;
    height: 72px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
 }

.nav{
    line-height: 3rem;
    border-radius: 0.25rem;
    background-color:#121212;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0.5rem 1rem ;
}

.nav-option{
    background-color:#121212;
    opacity: 0.5;
}

.nav-option a{
    text-decoration: none;
    background-color:#121212;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
}

.nav-option i{
    font-size: 1.5rem;
    background-color: #121212;
}

.nav-option:hover{
    opacity: 1;
}

.lib{ background-color:#121212;
    line-height: 3rem;
    padding: 0.5rem 1rem ;
    border-radius: 0.25rem;
    height: 100%;

}

.lib-option{
    display: flex;
    align-items: center;

    background-color:#121212;
    justify-content: space-between;
    font-size: 1rem;
opacity: 0.5;
}

.lib-option img{
    height: 1.25rem;
    background-color:#121212;
}

.lib-option a{
    text-decoration: none;
    background-color:#121212;
    margin-right: 7.5rem;
}

.lib-option:hover{
    opacity: 1;
}

.lib-box{
background-color: #232323;
border-radius: 0.5rem;
height: 8rem;
padding: 0.75rem 1rem;
margin: 0.5rem 0;

}

.box{
background-color: #232323;
line-height: 2rem;
}

.box-para{
    background-color: #232323;
    font-size: 0.87rem;
}

.badge{margin-top: 0.75rem;
    border: none;
    border-radius: 100px;
    background-color: white;
    height: 2rem;
    padding: 0.25rem 1rem;
    color: black;
    width:fit-content;
    font-weight:700;
}

.badge:hover{
    scale: 1.1;
}

.sticky-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    position: sticky;
    top: 0;
    z-index: 1;
    line-height: 3rem;
}
.sticky-nav-button{
background-color: #121212;
margin-right: 0.75rem;
}

.sticky-nav-icon{
background-color: transparent;
margin-left: 0.75rem;
}

.card{
    background-color: #121212;
    width: 175px;
    padding: 1rem;
    margin: 1rem 0 0 1.5rem;
    border-radius: 0.5rem;

}

.card img{
    width: 100%;
    border-radius: 0.5rem;
}

.card .card-title{
    background-color: #121212;
    font-weight: 600;
    line-height: 1rem;
}


.card .card-info{
    background-color: #121212;
    margin: 0.25rem;
    font-size: 0.85rem;
    opacity: 0.5;
    line-height: 1rem;

}

.cards{
    background-color: #121212;
}

h2{
    background-color: #121212;
    padding-left: 1rem;
    padding-top: 2rem;
}

h2:hover{
    text-decoration: underline;
}

.card-container{
    background-color: #121212;
    display: flex;
    flex:wrap;

}
.card:hover{
    background-color: #232323;
}

.footer 
{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #121212; 
    line-height: 2rem;

}
.list{
    background-color: #121212;
    line-height: 2rem;
}
.footer-head{
    background-color: #121212;


}
.row{
    background-color: #121212;
}
.footer-item{
    background-color: #121212;
    opacity: 0.5;

}

.footer-item a{
    text-decoration: none;
    background-color: #121212;
}


.footer-item:hover{
    opacity: 1;
    text-decoration: underline;
}

.social_media{
    background-color: #121212;
  
}
.social {
    background-color: #232323;
    border-radius: 55%;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    border: none;
}
.social:hover{
    background-color: #343434;

}
.social i{
    background-color: #232323;
}
.social i:hover{
    background-color: #343434;
}

.space{
    background-color: #121212;
    height: 50px; 
    justify-content: center;
    align-items: center;
    width:90%;
}

.main-footer{
    background-color: #121212;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.line{
    background-color: #121212;
    border-top: 1px solid white;
    width: 90%;
    height: 200px;
    opacity: 0.7;
    padding-top: 1rem;

}

.song{
    background-color: rgb(0, 0, 0);
    width: 25%;
}

.player{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 50%;
}

.control{
    background-color: rgb(0, 0, 0);
    width: 25%;
}

.player-control-icons{
  
    height: 1rem;
    margin: 2rem;
    opacity: 0.7;
}

.player-control-icons:hover{
    opacity: 1;

}

.player-control{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.playback-bar{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressbar{
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}

.progressbar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progressbar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background:#1bd760;
    border-radius: 50%;
    margin: -6px;
}

.song-image{
    height: 5rem;
    width: 5.5rem;
    background-size: cover;
}

.song{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.singer{
    font-size: 0.85rem;
    opacity: 0.5;
}

.song-icon i{
    font-size: 1.3rem;
    margin-right: 1rem;
}

.control{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    opacity: 0.5;
}

#volume{
    appearance: none;
    background-color: white;
    border-radius: 100px;
    opacity: 1;
}

#volume::-webkit-slider-runnable-track{
    height: 0.2rem;
    opacity: 1;
}

#volume::-webkit-slider-thumb{
    appearance: none;
    border-radius: 100px;
    height:16px;
    width: 16px; 
    background-color: gray;
    margin-top: -6px;

}